{erl_opts, [warnings_as_errors, debug_info]}.

{port_envs, [
    %% Link the spidermonkey library
    {".*", "CFLAGS", "$CFLAGS -O2 -DNDEBUG"},
    {".*", "CXXCFLAGS", "$CXXFLAGS -O2 -DNDEBUG"},
    {"darwin", "CXXFLAGS", "-Ic_src/ -DLEVELDB_PLATFORM_OSX"},

    %% Make sure to link -lstdc++ on linux or solaris
    {"linux", "CXXFLAGS", "-Ic_src/ -DLEVELDB_PLATFORM_POSIX -std=c++0x"},
    {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"},

    %% OS X Leopard flags for 64-bit
    {"darwin9.*-64$", "CXXFLAGS", "-m64"},
    {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

    %% OS X Snow Leopard flags for 32-bit
    {"darwin10.*-32$", "CXXFLAGS", "-m32"},
    {"darwin10.*-32$", "LDFLAGS", "-arch i386"}
]}.

{so_name, "erleveldb.so"}.

{port_sources, [
    "c_src/erleveldb.cc",
    "c_src/db/builder.cc",
    "c_src/db/db_impl.cc",
    "c_src/db/db_iter.cc",
    "c_src/db/filename.cc",
    "c_src/db/dbformat.cc",
    "c_src/db/log_reader.cc",
    "c_src/db/log_writer.cc",
    "c_src/db/memtable.cc",
    "c_src/db/repair.cc",
    "c_src/db/table_cache.cc",
    "c_src/db/version_edit.cc",
    "c_src/db/version_set.cc",
    "c_src/db/write_batch.cc",
    "c_src/port/port.cc",
    "c_src/table/block.cc",
    "c_src/table/block_builder.cc",
    "c_src/table/format.cc",
    "c_src/table/iterator.cc",
    "c_src/table/merger.cc",
    "c_src/table/table.cc",
    "c_src/table/table_builder.cc",
    "c_src/table/two_level_iterator.cc",
    "c_src/util/arena.cc",
    "c_src/util/cache.cc",
    "c_src/util/coding.cc",
    "c_src/util/comparator.cc",
    "c_src/util/crc32c.cc",
    "c_src/util/env.cc",
    "c_src/util/env_posix.cc",
    "c_src/util/hash.cc",
    "c_src/util/histogram.cc",
    "c_src/util/logging.cc",
    "c_src/util/options.cc",
    "c_src/util/status.cc"
]}.
